{% load app_filters %}
<div class="modal mt-4" id="default">
    <div class="modal-dialog  modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                    <h4 class="modal-title"><i aria-hidden="true" class="fa fa-calendar-check-o"></i> Manage Day 0</h4>
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                </div>
            <div class="modal-body">
                <span>Contente</span>
            </div>
        </div>
    </div>
</div>